.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: #eb6123;
}

.flex label{
    width: 250px;
    height: 210px;
}

.flex img {
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 6px 6px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 13px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 13px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.5s linear;
}

.flex img:hover {
    transform: scale(1.01);
}

.modal input {
    padding: 0.7rem 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    outline: none;
}

.modal input:focus,
.modal input:active {
    border: 2px solid #eb6123;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border: 1px solid transparent;
    outline: none;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    outline: none;
    background-color: #cccccc;
    color: #666666;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: #eb6123;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}



[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    outline: none;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    background-color: #eb6123;
}

.hidden {
    display: none;
}
