@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {    
    background-image: url(../images/hallo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: #eb6123;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.navbar h2 {
    color: white;
    font-family: 'Nosifer', cursive;
    font-size: 1rem;
}

.buttons {
    margin-right: 20px;
}

.buttons button {
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buttons button:hover {
    background-color: #fff;
    border-color: #ff4500;
    color: #eb6123;
    transform: scale(0.95);
}

.main-content {
    padding: 10px;
    text-align: center;
}

.main-content h3 {
    color: white;
    font-family: 'Nosifer', cursive;
    font-size: 0.8rem;
}

.main-content p {
    color: white;
    padding: 5px;
    font-weight: 800;
}

.main-content p span {
    color: white;
    font-weight: 500;
}

.locationBox {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff4500;
}

.hunt {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hunt:hover {
    background-color: #fff;
    border-color: #ff4500;
    color: #eb6123;
    transform: scale(0.95);
}

.finaloutput h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
